.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: #ffffff;
  background: #2c2e31;
  padding: 12px;

  &-link {
    color: #ffffff;
  }
}

.langBtn {
  border: none;
  color: #ffffff;
  background: none;
  font-weight: bold;
  margin-left: 8px;
  outline: none;
  cursor: pointer;
  &:hover {
    color: wheat;
  }
}
