* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@import "./styles/header";
@import "./styles/search";
@import "./styles/home";
@import "./styles/footer";
